<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/style/client.css' />
</head>
<body>
<h1></h1>
<p></p>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
<script type="text/javascript" src="/js/client.js"></script>
<div id="listWidget" class="widget">
    <h1>What just happened???</h1>
    <ul><li>Loading...</li></ul>
</div>
<div id="topRightBox" class="widget">
    <h1>This imaginary chart just looks amazing!</h1>
</div>
</body>
</html>