<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/list">
        <ul>
            <li>
                <label>Message:</label>
                <input type="text" name="message" />
            </li>
            <li>
                <label>Type:</label>
                <input type="text" name="level" />
            </li>
            <li>
                <label>Tag:</label>
                <input type="text" name="tag" />
            </li>
            <li>
                <label>Tag:</label>
                <input type="text" name="tag" />
            </li>
            <li>
                <label>Tag:</label>
                <input type="text" name="tag" />
            </li>
            <li>
                <input type="submit" />
            </li>
        </ul>
    </form>
  </body>
</html>