body {
    background-color: #222;
    font-size: x-large;
    color: #d1d1d1;
}

.widget {
    background-color: #333;
    padding: 10px;
}

.widget h1 {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#topRightBox {
    background-color: #333;
    width: 40%;
    height: 300px;
    float: left;
}

#listWidget {
    width: 40%;
    float: left;
    margin-right: 40px;
}

#listWidget ul {
    list-style-type: none;
    padding: 7px;
    margin: 0;
}

#listWidget li {
    margin-top: 7px;
    padding: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #222;

}

#listWidget li .icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

#listWidget li .message-content {
}

#listWidget li .time {
    color: #878787;
    font-size: 75%;
}

#listWidget li .icon.error {
    background-image: url(http://www.iconfinder.com/ajax/download/png/?id=10277&s=48);
    background-size: contain;
}

#listWidget li .icon.info {
    background-image: url(http://cdn2.iconfinder.com/data/icons/function_icon_set/questionmark_48.png);
    background-size: contain;
}

#listWidget li .icon.warning {
    background-image: url(http://cdn2.iconfinder.com/data/icons/function_icon_set/warning_48.png);

    background-size: contain;
}